node_modules
.idea
/cddl-from-src/src/pkg/**
/cddl-from-src/crate/target/**
.turbo/
dist

# typescript
*.tsbuildinfo
next-env.d.ts

# next
/app/.next/

# env files (can opt-in for committing if needed)
.env*
!.env.example
!.env.test

# VSCode
.history
.vscode
