name: Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["*"]

env:
  DO_NOT_TRACK: 1
  NODE_ENV: test

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.3

      - name: Set up wasm-pack
        uses: jetli/wasm-pack-action@v0.4.0

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build
        run: bun run build

      - name: Check
        run: bun run check

      - name: Test
        run: bun run test
